.tags-input {
	display: inline-block;
	padding: 0 2px;
	background: #FFF;
	border: 1px solid #CCC;
	width: 16em;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.tags-input .tag {
	display: inline-block;
	background: #EEE;
	color: #444;
	padding: 0 4px;
	margin: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
	font: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	transition: all 100ms ease;
}

.tags-input .tag.selected {
	background-color: #777;
	border-color: #777;
	color: #EEE;
}

.tags-input .tag.dupe {
	-webkit-transform: scale3d(1.2,1.2,1.2);
	-moz-transform: scale3d(1.2,1.2,1.2);
	transform: scale3d(1.2,1.2,1.2);
	background-color: #FCC;
	border-color: #700;
}

.tags-input input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	padding: 3px;
	margin: 0;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font: inherit;
	font-size: 100%;
	-webkit-outline: none;
	-moz-outline: none;
	outline: none;
}

.tags-input .selected ~ input {
	opacity: 0.3;
}
